*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: #9AD0EC;
}
.clear{
    clear: both;
}
/* ini bagian style navbar */
.navbar{
    background-color: #9AD0EC ;
    width: 100%;
    height: 100px;
}
a.right{
    background-color: #9AD0EC;
    width: 40px;
    height: 10px;
    float: right;
    font-size: 20px;
    padding: 35px;
    padding-left: 10px;
    margin: 2px;
    margin-top: 35px;
    border-radius: 20px;
}
a.left{
    float: left;
    font-size: 35px;
    margin: 2px;
}
.judul{
    font-size: 50px;
    font-style:oblique;
    padding: 50px;
    padding-right: 45px;
    font-family: 'Courier New', Courier, monospace;
}

a.right:hover{
    background-color: #FCFFA6;
    color: black;
}
/* class jumbotron bagian tengah */
.jumbotron{
    background-color: #FCFFA6;
    width: 100%;
    height: 830px;
}
.label{
    float: right;
    font-size: 15px;
    font-family: serif;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    text-decoration: overline;
}
.label:hover{
    background-color: #FCFFA6;
    color: blue;
}
.gambar{
    width:270px;
    height:250px;
    padding-left: 500px;
    margin: 10px;
}

/* class deskripsi */
.label2 {
    font-size: 45px;
    font-family: helvetica;
    text-align: center;
    padding: 15px;
}
.deskripsi{
    width: 100%;
    margin: auto;
    font-size: medium;
    font-family: serif;
}
.kanan{
    color: black;
    width: 40%;
    float: right;
    padding: 5%;
}
.kiri{
    color: black;
    width: 40%;
    float: left;
    padding: 5%;
}
/* class produk */
.aset{
    background-color: #9AD0EC;
    width: 100%;
    height: 400px;
}
.aset .container{
    width: 200px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding-right: 100px;
}
.container img{
    width: 100%;
}
.produk .aset h4{
    color: black;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
