nav{
    font-family: 'Roboto', sans-serif;
    background: color #3f2343;
}
nav ul li a {
text-decoration: none;
font-size: 0.9em;
float:right;
width:5%;
}
nav ul{
    list-style:none;
    font-family:sans-serif;

}
.Logo{
    float: left;
    padding-left: 30px;
    
}